.snowviz-flex-grow {
    flex-grow: 1;
}
.custom-text-color {
    color: purple;
}
.custom-search-bar {
    display: flex;
    flex-wrap: wrap;
}
.custom-search-input {
    flex-grow: 0;
}
.chat-input-container {
    position: top;
    bottom: 0;
    width: 100%;
    padding: 0px;
    background-color: transparent;
    box-sizing: border-box;
}
.chat-input {
    width: calc(100% - 40px);
    min-height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    padding: 0px;   /*how much the initial block is big in height*/
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 25px;  /*how much the input borders are*/
    resize: vertical;
    font-size: 20px;
    font-style: normal;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px; /* Adjust the left padding as needed */
    padding-top: 20px;
}
.custom-button {
    border-radius: 15px;  /*how much the input borders are*/
    color: #000000;
    background-color:#e1e0e0;
}

.custom-button2 {
    border-radius: 15px;  /*how much the input borders are*/
    color: #1c029b;
    background-color:#ffffff;
}
/* .uk-navbar-nav > li:not(:last-child) {
    border-right: 1px solid #ccc;
}

/* Optional: Style the navigation links */
.uk-navbar-nav li {
    padding-left: 30%;
    height: fit-content;
    text-align: center;
}

.uk-navbar-nav a {
    color: #971717;
    font-weight: bold;
}
.custom-img {
    height: 100px; /* Adjust the height as needed */
    width: auto; /* Adjust the width as needed */
    /* max-width: 100%; Ensure the image doesn't exceed its original size */
    /* display: block; Remove any extra spacing below the image */
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 15%;
    overflow: hidden;
    align-items: center;
}
.social-icons img{
    width: 20px;
    height: 20px;
}
.no-bullets {
    margin-bottom: 100px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chat-input-list li {
    margin-right: 10px; /* Adjust spacing between elements */
}
.table-container {
    display: flex;
    align-items: center; /* Align items vertically */
}



.hover-window {
    position: absolute; /* Position the hover window */
    top: calc(100% + 10px); /* Place it below the table */
    left: 0;
    width: 200px; /* Adjust the width as needed */
    background-color: #fff; /* Set background color */
    border: 1px solid #ccc; /* Add border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
    padding: 10px; /* Add padding */
    display: none; /* Initially hide the window */
}

.uk-table-container:hover .hover-window {
    display:block; /* Display the window when hovering over the table container */
}


.window-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: block; /* Initially hide the window */
}

.window {
    /* Style for the window content */
}

.space {
    height: 10px; /* Set the height of the space */
}
.italic {
    font-style: italic;
}
